<html lang="en">
<head>
    <title>pygments-high-contrast-stylesheets</title>
    <meta name="description" content="A hard fork of pygments-css with WCAG AA passing stylesheets">
    <style>
    iframe {
      width: 600;
      height: 450;
      border: 0;
      display: block;
    }
    </style>
</head>
<body>
<h1>pygments-high-contrast-stylesheets</h1>
<p>A hard fork of <a href="https://github.com/richleland/pygments-css">pygments-css</a> with WCAG AA passing stylesheets.</p>
<p><a href="https://github.com/mpchadwick/pygments-high-contrast-stylesheets">View Project on GitHub</a></p>
<h2>Why?</h2>
<p>When you're choosing a theme for your personal IDE feel free to choose whatever you'd like. But when you're publishing to the web, keep in mind that you're not the only one reading the code using the selected theme.</p>
<p>These high contrast themes pass WCAG AA's standards, making them more friendly to the large segment of the population with color vision deficiency.</p>
<h2>Demos</h2>
<!-- DEMO_LIST -->
<p><a href="https://github.com/mpchadwick/pygments-high-contrast-stylesheets">View Project on GitHub</a></p>
</body>
</html>
